/* clubs table */

tr.clickable-row {
    cursor: pointer;
}

/* clubs list page */

.modal-header {
    border-bottom: none;
}

.panel-clubs {
    padding-top: 20px;
}

/* club view */

.club-name {
    font-size: 1.5em;
}

.table-club-info > tbody > tr {
    border-top: 1px solid rgb(221, 221, 221);
}

.table-club-info > tbody > tr:first-child {
    border-top: 0;
}


.table-club-info > tbody > tr > td {
    border-top: 0;
}
