{% extends 'NeikeqClubsBundle:Default:templates/main.html.twig' %}

{% block title %} - Kicks Clubs{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

    {% stylesheets 'bundles/neikeqclubs/css/*' filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
{% endblock %}

{% block body %}
    {% block navbar %}{% endblock %}
    <div class="container">
        {% block container %}{% endblock %}
    </div>
{% endblock %}

{% block javascripts %}
    <script src="https://code.jquery.com/jquery-2.1.3.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

    {% javascripts '@NeikeqClubsBundle/Resources/public/js/chosen.jquery.js' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <script charset="utf-8">
        $(".chosen-select").chosen({disable_search_threshold: 10});
    </script>
{% endblock %}
