{% extends 'NeikeqClubsBundle:Default:templates/base.html.twig' %}

{% block title %}Member Requests{{ parent() }}{% endblock %}
{% block stylesheets %}{{ parent() }}{% endblock %}
{% block javascripts %}{{ parent() }}{% endblock %}

{% block navbar %}
    {% include 'NeikeqClubsBundle:Default:templates/navbar.html.twig' %}
{% endblock %}

{% block container %}
    <div class="panel panel-default">
        <div class="panel-body">
            <legend>Members Management</legend>
        </div>
    </div>
{% endblock %}
